In [21]:
import pandas as pd
df = pd.read_csv('dataset/bank-additional-full.csv')
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [23]:
df.drop('duration', axis=1 ,inplace= True)

In [26]:
x = df.iloc[:,0:19]
x.shape

(41188, 19)

In [30]:
y = df[['y']]
y.shape

(41188, 1)

In [40]:
X= pd.get_dummies(X,drop_first=True)
print(len(X.columns))
X.columns

52

Index(['age', 'campaign', 'pdays', 'previous', 'emp.var.rate',
       'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed',
       'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'job_unknown',
       'marital_married', 'marital_single', 'marital_unknown',
       'education_basic.6y', 'education_basic.9y', 'education_high.school',
       'education_illiterate', 'education_professional.course',
       'education_university.degree', 'education_unknown', 'default_unknown',
       'default_yes', 'housing_unknown', 'housing_yes', 'loan_unknown',
       'loan_yes', 'contact_telephone', 'month_aug', 'month_dec', 'month_jul',
       'month_jun', 'month_mar', 'month_may', 'month_nov', 'month_oct',
       'month_sep', 'day_of_week_mon', 'day_of_week_thu', 'day_of_week_tue',
       'day_of_week_wed', 'poutcome_nonexistent', 'poutcome_success'],
      dtype='object')

In [41]:
from sklearn.model_selection import train_test_split

X_train , X_test , y_train , y_test=train_test_split(X , y ,train_size=0.80 , random_state=2)
print("x_train : " , x_train.shape)
print("x_test : " , x_test.shape)
print("y_train : " , y_train.shape)
print("y_test : " , y_test.shape)

x_train :  (32950, 52)
x_test :  (8238, 52)
y_train :  (32950, 1)
y_test :  (8238, 1)

In [42]:
from sklearn.tree import DecisionTreeClassifier

dtc = DecisionTreeClassifier()

In [43]:
dtc.fit(X_train , y_train)

DecisionTreeClassifier()

In [45]:
y_pred = dtc.predict(X_test)
y_pred

array(['no', 'no', 'yes', ..., 'no', 'no', 'no'], dtype=object)

In [46]:
from sklearn.metrics import accuracy_score

accuracy_score(y_pred , y_test)

0.8430444282592863

In [50]:
from sklearn.metrics import precision_score

precision_score(y_test ,y_pred ,average='micro')

0.8430444282592863

In [53]:
from sklearn.metrics import recall_score
recall_score(y_test ,y_pred ,average='micro')

0.8430444282592863

In [54]:
from sklearn.tree import DecisionTreeClassifier

dtc = DecisionTreeClassifier(criterion='entropy' ,splitter='random' , random_state=2 )

In [55]:
dtc.fit(X_train , y_train)

DecisionTreeClassifier(criterion='entropy', random_state=2, splitter='random')

In [56]:
y_pred = dtc.predict(X_test)
y_pred

array(['no', 'no', 'yes', ..., 'no', 'no', 'no'], dtype=object)

In [57]:
from sklearn.metrics import accuracy_score

accuracy_score(y_pred , y_test)

0.8449866472444768

In [58]:
from sklearn.metrics import precision_score

precision_score(y_test ,y_pred ,average='micro')

0.8449866472444768

In [59]:
from sklearn.metrics import recall_score
recall_score(y_test ,y_pred ,average='micro')

0.8449866472444768