In [95]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [96]:
df=pd.read_csv('dataset/bank-additional-full.csv',usecols=['age','job','marital','education','default','housing','loan','contact','month','day_of_week','campaign','pdays','previous','poutcome','cons.price.idx','cons.conf.idx','euribor3m','nr.employed','y'])
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,1,999,0,nonexistent,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,1,999,0,nonexistent,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,1,999,0,nonexistent,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,1,999,0,nonexistent,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,1,999,0,nonexistent,93.994,-36.4,4.857,5191.0,no

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  campaign        41188 non-null  int64
 11  pdays           41188 non-null  int64
 12  previous        41188 non-null  int64
 13  poutcome        41188 non-null  object
 14  cons.price.idx  41188 non-null  float64
 15  cons.conf.idx   41188 non-null  float64
 16  euribor3m       41188 non-null  float64
 17  nr.employed     41188 non-null  float64
 18  y               41188 non-null  object
dtypes: float64(4), int64(4), object(11)
memory usage: 6.0+ MB

In [98]:
x=df.iloc[:,:19]

In [99]:
x.shape

(41188, 19)

In [100]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  campaign        41188 non-null  int64
 11  pdays           41188 non-null  int64
 12  previous        41188 non-null  int64
 13  poutcome        41188 non-null  object
 14  cons.price.idx  41188 non-null  float64
 15  cons.conf.idx   41188 non-null  float64
 16  euribor3m       41188 non-null  float64
 17  nr.employed     41188 non-null  float64
 18  y               41188 non-null  object
dtypes: float64(4), int64(4), object(11)
memory usage: 6.0+ MB

In [101]:
y=df.iloc[:,-1]

In [102]:
y

0         no
1         no
2         no
3         no
4         no
        ...
41183    yes
41184     no
41185     no
41186    yes
41187     no
Name: y, Length: 41188, dtype: object

In [103]:
x=pd.get_dummies(x,drop_first=True)
print(len(x.columns))
x.columns

52

Index(['age', 'campaign', 'pdays', 'previous', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'job_blue-collar',
       'job_entrepreneur', 'job_housemaid', 'job_management', 'job_retired',
       'job_self-employed', 'job_services', 'job_student', 'job_technician',
       'job_unemployed', 'job_unknown', 'marital_married', 'marital_single',
       'marital_unknown', 'education_basic.6y', 'education_basic.9y',
       'education_high.school', 'education_illiterate',
       'education_professional.course', 'education_university.degree',
       'education_unknown', 'default_unknown', 'default_yes',
       'housing_unknown', 'housing_yes', 'loan_unknown', 'loan_yes',
       'contact_telephone', 'month_aug', 'month_dec', 'month_jul', 'month_jun',
       'month_mar', 'month_may', 'month_nov', 'month_oct', 'month_sep',
       'day_of_week_mon', 'day_of_week_thu', 'day_of_week_tue',
       'day_of_week_wed', 'poutcome_nonexistent', 'poutcome_success', 'y_yes'],
      dtype='object')

In [104]:
df['job'].unique()

array(['housemaid', 'services', 'admin.', 'blue-collar', 'technician',
       'retired', 'management', 'unemployed', 'self-employed', 'unknown',
       'entrepreneur', 'student'], dtype=object)

In [105]:
df['marital'].unique()

array(['married', 'single', 'divorced', 'unknown'], dtype=object)

In [106]:
df['education'].unique()

array(['basic.4y', 'high.school', 'basic.6y', 'basic.9y',
       'professional.course', 'unknown', 'university.degree',
       'illiterate'], dtype=object)

In [107]:
df['housing'].unique()

array(['no', 'yes', 'unknown'], dtype=object)

In [108]:
df['loan'].unique()

array(['no', 'yes', 'unknown'], dtype=object)

In [109]:
df['contact'].unique()

array(['telephone', 'cellular'], dtype=object)

In [110]:
df['month'].unique()

array(['may', 'jun', 'jul', 'aug', 'oct', 'nov', 'dec', 'mar', 'apr',
       'sep'], dtype=object)

In [111]:
df['poutcome'].unique()

array(['nonexistent', 'failure', 'success'], dtype=object)

In [112]:
df['day_of_week'].unique()

array(['mon', 'tue', 'wed', 'thu', 'fri'], dtype=object)

In [113]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.80,random_state=2)

In [114]:
x_train.shape

(32950, 52)

In [115]:
x_test.shape

(8238, 52)

In [116]:
y_train.shape

(32950,)

In [117]:
y_test.shape

(8238,)

In [118]:
from sklearn.tree import DecisionTreeClassifier

In [119]:
Dtc= DecisionTreeClassifier(random_state = 1)
Dtc.fit(x_train,y_train)

DecisionTreeClassifier(random_state=1)

In [120]:
a=Dtc.predict(x_test)
a

array(['no', 'no', 'no', ..., 'no', 'no', 'no'], dtype=object)

In [121]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,a)

array([[7318,    0],
       [   0,  920]], dtype=int64)

In [122]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,a)

1.0

In [123]:
from sklearn.metrics import precision_score
precision_score(y_test,a,average='micro')

1.0

In [124]:
from sklearn.metrics import recall_score
recall_score(y_test,a,average='macro')

1.0