In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error
import math

In [2]:
df=pd.read_csv( 'dataset/cgpa_marks_package.csv')
df

     cgpa  Interview_marks  package
0    6.89               26     3.26
1    5.12               38     1.98
2    7.82               40     3.25
3    7.42                8     3.67
4    6.94               17     3.57
..    ...              ...      ...
195  6.93               44     2.46
196  5.89               34     2.57
197  7.21               27     3.24
198  7.63               44     3.96
199  6.22               25     2.33

[200 rows x 3 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   cgpa             200 non-null    float64
 1   Interview_marks  200 non-null    int64
 2   package          200 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 4.8 KB

In [4]:
df.isnull().sum()

cgpa               0
Interview_marks    0
package            0
dtype: int64

In [5]:
df.head()

   cgpa  Interview_marks  package
0  6.89               26     3.26
1  5.12               38     1.98
2  7.82               40     3.25
3  7.42                8     3.67
4  6.94               17     3.57

In [6]:
X=pd.DataFrame(df.iloc[:,0:2])

In [7]:
X

     cgpa  Interview_marks
0    6.89               26
1    5.12               38
2    7.82               40
3    7.42                8
4    6.94               17
..    ...              ...
195  6.93               44
196  5.89               34
197  7.21               27
198  7.63               44
199  6.22               25

[200 rows x 2 columns]

In [8]:
Y=pd.DataFrame(df.iloc[:,-1])

In [9]:
Y

     package
0       3.26
1       1.98
2       3.25
3       3.67
4       3.57
..       ...
195     2.46
196     2.57
197     3.24
198     3.96
199     2.33

[200 rows x 1 columns]

In [10]:
x_train,x_test,y_train,y_test=train_test_split(X,Y, train_size=0.2,random_state=2)

In [11]:
x_train

     cgpa  Interview_marks
50   9.58               18
52   8.37               27
80   7.63               46
185  6.31               31
121  6.50               27
189  8.11                9
46   6.07               15
88   4.73               39
69   7.30               44
67   6.51               18
183  7.28               18
58   6.92               43
33   6.35               27
38   8.62               20
103  7.05               18
51   9.26               28
107  6.33                9
170  6.22               37
4    6.94               17
102  5.13               22
167  8.13               48
37   5.90                9
116  9.04               21
124  6.06               30
148  7.57               49
31   8.10               44
63   9.16               26
47   5.84               46
194  7.89               33
95   6.63               35
177  7.09               40
162  5.53               90
7    6.75               39
104  7.62               47
75   6.97               56
43   7.66               63
22   6.14               54
72   7.78               19
15   7.25               21
168  8.65               37

In [12]:
x_test
print(x_test.shape)

(160, 2)

In [13]:
y_train
print(y_train.shape)

(40, 1)

In [14]:
y_test
print(y_test.shape)

(160, 1)

In [15]:
Mlr=LinearRegression()

In [16]:
Mlr.fit(x_train , y_train)

LinearRegression()

In [17]:
y_pred=Mlr.predict(x_test)

In [18]:
Mlr.score(x_test,y_test)

0.7677318947557604

In [19]:
print('MAE:',mean_absolute_error(y_test,y_pred))

MAE: 0.26532531755615896

In [20]:
print('MAE',mean_squared_error(y_test,y_pred))

MAE 0.10815807839289607

In [21]:
print('r2:',r2_score(y_test,y_pred))

r2: 0.7677318947557604

In [22]:
print('RMSE',math.sqrt(mean_absolute_error(y_test,y_pred)))

RMSE 0.5150973864777019