# Import MySQL Connector

In [5]:
import mysql.connector as com

# Connection to Database

In [6]:
new_db =com.connect(
    host ="localhost",
    user ="root",
    password ="root",
)
print(new_db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001F574BB5FD0>

# Creating Database

In [7]:
new_db =com.connect(
    host ="localhost",
    user ="root",
    password ="root",
)
my_cursor =new_db.cursor()
my_cursor.execute("CREATE DATABASE mydata")

DatabaseError: 1007 (HY000): Can't create database 'mydata'; database exists

# Check Database Created?

In [6]:
new_db =com.connect(
    host ="localhost",
    user ="root",
    password="root",
)
my_cursor =new_db.cursor()
my_cursor.execute("SHOW DATABASES")
for a in my_cursor:
    print(a)

('information_schema',)
('mydata',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

# Creating Tables and showing data

In [8]:
new_db =com.connect(
    host="localhost",
    user="root",
    password="root",
)
my_cursor =new_db.cursor()
my_cursor.execute("USE mydata")

In [9]:
new_db =com.connect(
    host="localhost",
    user="root",
    password="root",
    database="mydata",
)
my_cursor=new_db.cursor()
my_cursor.execute("CREATE TABLE marks(s1 varchar(200),s2 varchar(10))")

ProgrammingError: 1050 (42S01): Table 'marks' already exists

# list all tables in database

In [10]:
new_db =com.connect(
    host="localhost",
    user="root",
    password="root",
    database="mydata",
)
my_cursor =new_db.cursor()
my_cursor.execute("SHOW TABLES")
for table in my_cursor:
    print(table)

('marks',)
('student',)

# inserting data into tables

In [11]:
new_db =com.connect(
    host="localhost",
    user="root",
    password="root",
    database="mydata",
)
my_cursor =new_db.cursor()
query = "INSERT INTO student (name,regno) VALUES (%s,%s)"
values =("krishna","393cs20009")
my_cursor.execute(query,values)
new_db.commit()
print(my_cursor.rowcount,"new record inserted")

1 new record inserted

# inserting multiple records into tables

In [12]:
new_db =com.connect(
    host="localhost",
    user="root",
    password="root",
    database="mydata",
)
my_cursor =new_db.cursor()
query1 = "INSERT INTO student (name,regno) VALUES (%s,%s)"
values =[("krishna","393cs20006"),
        ("rahul","393cs19001"),
        ("akash","393cs20003"),
        ("gururaj","393cs20023")
       ]
my_cursor.executemany(query1,values)
new_db.commit()
print(my_cursor.rowcount,"new record inserted")

4 new record inserted

# Display Records From Table

In [13]:
my_cursor =new_db.cursor()
query1 = "SELECT * FROM student"
my_cursor.execute(query1)
for i in my_cursor:
    print(i)

('krishna', '393cs20009')
('krishna', '393cs20006')
('rahul', '393cs19001')
('akash', '393cs20003')
('gururaj', '393cs20023')
('krishna', '393cs20009')
('krishna', '393cs20006')
('rahul', '393cs19001')
('akash', '393cs20003')
('gururaj', '393cs20023')

# Display particular record from database

In [15]:
my_cursor =new_db.cursor()
query1 = "SELECT name FROM student"
my_cursor.execute(query1)
for i in my_cursor:
    print(i)

('krishna',)
('krishna',)
('rahul',)
('akash',)
('gururaj',)
('krishna',)
('krishna',)
('rahul',)
('akash',)
('gururaj',)