In [1]:
from pandas import DataFrame
df=DataFrame(
            [
                ['Aryan','Singh','Full Time','administraction',2,20000],
                ['Rohan','Agarwal','intern','Technical',3,50000],
                ['Rjya','Shah','Full Time','administraction',5,100000],
                ['Yash','Bhaita','Part Time','Technical',7,100000],
                ['Siddhant','Khanna','Full Time','Management',6,200000],
            ]
            ,columns=['Frist Name','Last Name','Type','Department','YoE','Salary']
            )
df

  Frist Name Last Name       Type       Department  YoE  Salary
0      Aryan     Singh  Full Time  administraction    2   20000
1      Rohan   Agarwal     intern        Technical    3   50000
2       Rjya      Shah  Full Time  administraction    5  100000
3       Yash    Bhaita  Part Time        Technical    7  100000
4   Siddhant    Khanna  Full Time       Management    6  200000