In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('dataset/Social_Network_Ads.csv')

In [3]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [7]:
x=df.iloc[:,2:4]
x

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [8]:
y=df.iloc[:,-1]

In [9]:
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split

In [15]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8,random_state=2)

In [16]:
x_train

     Age  EstimatedSalary
205   47            47000
354   36            99000
3     27            57000
264   48            90000
194   28            89000
..   ...              ...
299   46           117000
22    48            41000
72    20            23000
15    29            80000
168   29           148000

[320 rows x 2 columns]

In [17]:
x_test

     Age  EstimatedSalary
94    29            83000
32    21            16000
225   37            53000
157   29            75000
356   54            70000
..   ...              ...
188   35            72000
223   60           102000
65    24            58000
262   55           125000
186   20            82000

[80 rows x 2 columns]

In [18]:
y_train

205    0
354    1
3      0
264    1
194    0
      ..
299    1
22     1
72     0
15     0
168    1
Name: Purchased, Length: 320, dtype: int64

In [19]:
y_test

94     0
32     0
225    0
157    0
356    1
      ..
188    0
223    1
65     0
262    1
186    0
Name: Purchased, Length: 80, dtype: int64

In [20]:
from sklearn.preprocessing import StandardScaler
tr=StandardScaler()
a=tr.fit_transform(x_train)
b=tr.fit_transform(x_test)

In [21]:
a.shape

(320, 2)

In [23]:
b.shape

(80, 2)

In [28]:
from sklearn.svm import SVC
classifier =SVC(kernel='linear',random_state=0)
classifier.fit(a,y_train)

SVC(kernel='linear', random_state=0)

In [34]:
y_pred=classifier.predict(b)
y_pred

array([0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0], dtype=int64)

In [35]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [36]:
print('Accuracy score=',accuracy_score(y_test,y_pred))

Accuracy score= 0.8125

In [39]:
pd.DataFrame(confusion_matrix(y_test,y_pred))

    0   1
0  46   2
1  13  19

In [38]:
result = pd.DataFrame()
result['Actual Label'] = y_test
result['Decision Tree Prediction'] = y_pred

In [40]:
result

     Actual Label  Decision Tree Prediction
94              0                         0
32              0                         0
225             0                         0
157             0                         0
356             1                         1
..            ...                       ...
188             0                         0
223             1                         1
65              0                         0
262             1                         1
186             0                         0

[80 rows x 2 columns]

In [41]:
from sklearn.metrics import precision_score
precision_score(y_test, y_pred, average='weighted')

0.8297013720742534

In [42]:
from sklearn.metrics import recall_score
recall_score(y_test, y_pred, average='micro')

0.8125

In [44]:
from sklearn.metrics import f1_score
f1_score(y_test, y_pred, average='micro')

0.8125