# PANDA SERIES:

#series is a one-dimensional labeled array capable of holding data of any type (integer,float,python objects,etc).The axis labeled are collectively called as index

#syntax :pd.series(data,index,dtype,copy)

In [1]:
import numpy as np
import pandas as pd
ser1=pd.Series([1,2,3,4,5])
print(ser1)
print()
ser2=pd.Series(['a','b','c','d'])
print(ser2)

0    1
1    2
2    3
3    4
4    5
dtype: int64

0    a
1    b
2    c
3    d
dtype: object

In [2]:
ser1=pd.Series([1,2,3,4,5],dtype=np.float64)
print(ser1)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [3]:
ser1=pd.Series([1,2,3,4,5],index=["Akash","Rahul","ki=shna","guru","abhinav"])
print(ser1)

Akash      1
Rahul      2
ki=shna    3
guru       4
abhinav    5
dtype: int64

In [4]:
import numpy as np 
import pandas as pd
i=pd.Index(["a","b","c","d","e"])
ser1=pd.Series([1,2,3,4,5],index=i)

print(ser1)

a    1
b    2
c    3
d    4
e    5
dtype: int64

CREATING SERIES USING DICTIONARY

In [5]:
ser1=pd.Series({"Rohit":40,"KL":23,"Virat":100,"Panth":12,"Chahal":2})
print(ser1)

Rohit      40
KL         23
Virat     100
Panth      12
Chahal      2
dtype: int64

# DATAFRAMES

DATAFRAME IS A COLLECTION OF MULTIPLE SERIES

#pd.DataFrame(array_name,index,columns)

In [6]:
import numpy as np
import pandas as pd
arr=np.arange(0,9).reshape(3,3)
print(arr)       #Numoy Array
df=pd.DataFrame(arr,index=['a','b','c'],columns=['A','B','C'])
print(df)        #Pandas DataFrame

[[0 1 2]
 [3 4 5]
 [6 7 8]]
   A  B  C
a  0  1  2
b  3  4  5
c  6  7  8

In [7]:
df=pd.DataFrame([[19,20,18,16],[16,16,14,14],[20,12,13,15]], index=['Abhinav','Nihal','Gururaj'],columns=['OSA','PYTHON','JAVA','SE'])
print(df)

         OSA  PYTHON  JAVA  SE
Abhinav   19      20    18  16
Nihal     16      16    14  14
Gururaj   20      12    13  15

In [8]:
df=pd.DataFrame({"Osa":[23,20,19,25],"Python":[12,20,32,24],"Java":[17,20,18,18]},index=[1,2,3,4]
               )
print(df)

   Osa  Python  Java
1   23      12    17
2   20      20    20
3   19      32    18
4   25      24    18

In [9]:
#Error : All arrays must be of same lenght
df=pd.DataFrame({"Osa":[23,20,190,25],"python":[12,20,32]})
print(df)

ValueError: All arrays must be of the same length

In [10]:
import pandas as pd 
ser1=pd.Series([22,10,13])
ser2=pd.Series([17,17,18,16])
df=pd.DataFrame({"OSA":ser1,"Python":ser2})
print(df)

    OSA  Python
0  22.0      17
1  10.0      17
2  13.0      18
3   NaN      16

# CREATE DATAFRAME CONTAINING INFORMATION ABOUT CITIES

Possibilities of Creating Dataframe through Multiple series

1.Normal Series

2.Transpose Series

3.Dictionary Series(key == Heading , values == series)(Dont need to give name in series)

4.2-d Array (Here,a single array consists of pop and cap of one state)

In [11]:
import numpy as np
import pandas as pd
i = pd.Index(["Karnataka","Maharashtra","Gujarat"])
#print(i)
pop=pd.Series(['7.1','12.4','8.9'],index=i,name="Population")
#print(pop)
cap=pd.Series(["Bangalore","Mumbai","Gandhinagar"],index=i,name="Capital")
#print(cap)
#pin = pd.Series(["586 101","392 479","123 456"],index = i , name = "Pin Code")
#df = pd.DataFrame([pop,cap])
#df = pd.DataFrame([pop,cap,pin]).T
df = pd.DataFrame([["7.1","Bangalore"],["12.4","Mumbai"],["8.9","Gandinagar"]],index=i,columns=["Population","Capital"])
#df =pd.DataFrame({"Population":pop,"Capital":cap,"PinCode":pin})
print(df)

            Population     Capital
Karnataka          7.1   Bangalore
Maharashtra       12.4      Mumbai
Gujarat            8.9  Gandinagar

# How to Add new data to a series

In [12]:
import numpy as np
import pandas as pd
pop=pd.Series(['7.1','12.4','8.9'],index=i,name="Population")
pop.append(pd.Series({"TamilNadu":9.8}))
#print(pop)

C:\Users\CS-L2-PC13\AppData\Local\Temp\ipykernel_10896\2976333882.py:4: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pop.append(pd.Series({"TamilNadu":9.8}))

Karnataka       7.1
Maharashtra    12.4
Gujarat         8.9
TamilNadu       9.8
dtype: object

method 1

In [13]:
import numpy as np
import pandas as pd
df = pd.DataFrame([["7.1","Bangalore"],["12.4","Mumbai"],["8.9","Gandinagar"]],index=i,columns=["Population","Capital"])#DataFrame created in one line
#print(df)
print(df.append(pd.DataFrame([["5.5","Chennai"],["14.2","Hyderabad"]],index=["Tamil Nadu","Andhra Pradesh"],columns=["Population","Capital"])))

               Population     Capital
Karnataka             7.1   Bangalore
Maharashtra          12.4      Mumbai
Gujarat               8.9  Gandinagar
Tamil Nadu            5.5     Chennai
Andhra Pradesh       14.2   Hyderabad

C:\Users\CS-L2-PC13\AppData\Local\Temp\ipykernel_10896\3235531569.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  print(df.append(pd.DataFrame([["5.5","Chennai"],["14.2","Hyderabad"]],index=["Tamil Nadu","Andhra Pradesh"],columns=["Population","Capital"])))

In [14]:
import numpy as np
import pandas as pd
i = pd.Index(["Karnataka","Maharashtra","Gujarat"])
pop=pd.Series(['7.1','12.4','8.9'],index=i,name="Population")
cap=pd.Series(["Bangalore","Mumbai","Gandhinagar"],index=i,name="Capital")
df = pd.DataFrame({"Population":pop,"Capital":cap})
#print(df)
print(df.append(pd.DataFrame({"Population":pd.Series([5.5,14.2],index=["Tamil Nadu","Andhra Pradesh"]),
    "Capital":pd.Series({"Tamil Nadu":"Chennai","Andhra Pradesh":"Hyderabad"})
    })
)
)

               Population      Capital
Karnataka             7.1    Bangalore
Maharashtra          12.4       Mumbai
Gujarat               8.9  Gandhinagar
Tamil Nadu            5.5      Chennai
Andhra Pradesh       14.2    Hyderabad

C:\Users\CS-L2-PC13\AppData\Local\Temp\ipykernel_10896\2891639623.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  print(df.append(pd.DataFrame({"Population":pd.Series([5.5,14.2],index=["Tamil Nadu","Andhra Pradesh"]),

# CONCAT NEW COLUMN TO DATAFRAME

In [15]:
import numpy as np
import pandas as pd
i=pd.Index(["Karanataka","Maharastra","Gujurat"])
pop=pd.Series(["4.9","9.0","8.9"],index=i,name="population")
cap=pd.Series(["Bengalur","Mumbai","Ghandinagar"],index=i,name="capital")
df=pd.DataFrame({"population":pop,"Capital":cap})
print(df)
df1=pd.concat(
        [df,pd.DataFrame({
                        "Area":pd.Series(["2.1","3.2","5.5"],index=pop.index),
                        "CM":pd.Series(["bomai","Shinde","xyz"],index=pop.index)
        })
        ],axis=1
)
df1.to_csv("cities_csv")
(df1)

           population      Capital
Karanataka        4.9     Bengalur
Maharastra        9.0       Mumbai
Gujurat           8.9  Ghandinagar

           population      Capital Area      CM
Karanataka        4.9     Bengalur  2.1   bomai
Maharastra        9.0       Mumbai  3.2  Shinde
Gujurat           8.9  Ghandinagar  5.5     xyz

# PANDAS SUBSETTING

In [16]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
ser1=Series(['alpha','beta','gama','delta','elispon'])
ser1

0      alpha
1       beta
2       gama
3      delta
4    elispon
dtype: object

In [17]:
ser1 = Series(np.arange(5), index=["alpha","beta","gama","delta","elipson"])
ser1

alpha      0
beta       1
gama       2
delta      3
elipson    4
dtype: int32

In [18]:
ser1[:2]

alpha    0
beta     1
dtype: int32

In [19]:
ser1[["beta","delta"]]

beta     1
delta    3
dtype: int32

In [20]:
ser1["beta":"delta"]

beta     1
gama     2
delta    3
dtype: int32

In [21]:
print(ser1)
ser1[ser1 > 3]

alpha      0
beta       1
gama       2
delta      3
elipson    4
dtype: int32

elipson    4
dtype: int32

In [22]:
ser1 > 3

alpha      False
beta       False
gama       False
delta      False
elipson     True
dtype: bool

In [23]:
ser2=Series(["Zero","one","Two","Three","Four"],index=[3,2,0,4,1])
ser2

3     Zero
2      one
0      Two
4    Three
1     Four
dtype: object

In [24]:
ser2[2:4]

0      Two
4    Three
dtype: object

In [25]:
ser2.iloc[1:4]

2      one
0      Two
4    Three
dtype: object

In [26]:
ser2.loc[3:0]

3    Zero
2     one
0     Two
dtype: object

In [27]:
df = DataFrame(np.arange(21).reshape(7,3), columns=['AAA','BBB','CCC'], index=["alpha","beta","gama","delta","epsilon","zeta","eta"])
df

         AAA  BBB  CCC
alpha      0    1    2
beta       3    4    5
gama       6    7    8
delta      9   10   11
epsilon   12   13   14
zeta      15   16   17
eta       18   19   20

In [28]:
df.AAA

alpha       0
beta        3
gama        6
delta       9
epsilon    12
zeta       15
eta        18
Name: AAA, dtype: int32

In [29]:
df['AAA']

alpha       0
beta        3
gama        6
delta       9
epsilon    12
zeta       15
eta        18
Name: AAA, dtype: int32

In [30]:
df[['BBB','CCC']]

         BBB  CCC
alpha      1    2
beta       4    5
gama       7    8
delta     10   11
epsilon   13   14
zeta      16   17
eta       19   20

In [40]:
df.iloc[1:3,1:2] #sytnax :df.iloc[row,column]

      BBB
beta    4
gama    7

In [32]:
df.loc['beta':'delta','BBB':'CCC']

       BBB  CCC
beta     4    5
gama     7    8
delta   10   11

In [33]:
df.iloc[:,1:3]

         BBB  CCC
alpha      1    2
beta       4    5
gama       7    8
delta     10   11
epsilon   13   14
zeta      16   17
eta       19   20

In [34]:
df.iloc[:,1:3].loc[['alpha','gama','zeta']]

       BBB  CCC
alpha    1    2
gama     7    8
zeta    16   17

In [35]:
df2 = df.iloc[:, 1:3].loc[['alpha', 'gama', 'zeta']].copy()
df2

       BBB  CCC
alpha    1    2
gama     7    8
zeta    16   17

In [36]:
df2['CCC'] = Series({'alpha':11, 'gama':18, 'zeta':5})
df2

       BBB  CCC
alpha    1   11
gama     7   18
zeta    16    5

In [37]:
df2.iloc[1,1]=2
df2

       BBB  CCC
alpha    1   11
gama     7    2
zeta    16    5

In [38]:
df2.iloc[:, 1] = 0
df2

       BBB  CCC
alpha    1    0
gama     7    0
zeta    16    0